@tailwind base;
@tailwind components;
@tailwind utilities;

  
  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #253341 inset;
    box-shadow: 0 0 0px 1000px rgb(148 163 184 / 0.1) inset;
    transition: background-color 5000s ease-in-out 0s;
    color: white;
  }
  
  /*! Firefox */    
  html{
    scrollbar-color: #9fda16 #4e4e4e;
    scrollbar-width: thin;
  }
  
   /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    border-radius: 10px;

  }
  